redis-ha:
  enabled: false

controller:
  replicas: 1

server:
  replicas: 1

repoServer:
  replicas: 1

applicationSet:
  replicas: 1

  global:
  domain: argocd.example.com

certificate:
  enabled: false

server:
  ingress:
    enabled: false
    ingressClassName: nginx
    tls: false