name: ci

on:
  push:
    paths:
      - src/**
    branchs:
      - main

jobs:
  docker:
    runs-on: self-hosted
    steps:
      - 
        name: Set Short SHA
        id: vars
        run: echo "sha_short=$(echo ${{ github.sha }} | cut -c1-7)" >> $GITHUB_OUTPUT
      -
        name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      -
        name: Build and push
        uses: docker/build-push-action@v6
        with:
          push: true
          tags: mgsantos89/python-app:${{ steps.vars.outputs.sha_short }}